
@{
	ViewData["Title"] = "Edulearn | eBook";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<link rel="stylesheet" href="~/wwwroot/css/ebook.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center; margin-top: 30px;">Google Books</h2>
				<p style="text-align: center"><i class="fa fa-bell" aria-hidden="true"></i> Make sure you are not browsing in an Incognito Mode.</p>
			</header>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/greatExpectations.jfif" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>Great Expectations</h2>
						<p>
							One of the finest novels by iconic British author Charles Dickens, this Victorian tale follows the good-natured orphan Pip as he makes his way through life.
						</p>
						<button><a href="https://play.google.com/books/reader?id=fhUXAAAAYAAJ&hl=en_GB&pg=GBS.PA5.w.1.0.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/aliceAdventure.jfif" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>Alice's Adventures in Wonderland</h2>
						<p>
							In the most renowned novel By English author Lewis Carroll, young Alice stumbles into adventure when she follows the hurried, time-obsessed White Rabbit down a hole and into a fantastical realm where animals are quite verbose, logic is in short supply and royalty tends to be exceedingly unpleasant.
						</p>
						<button><a href="https://play.google.com/books/reader?id=Y7sOAAAAIAAJ&hl=en_GB&pg=GBS.PA1" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/signOfFour.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Sign of Four</h2>
						<p>
							The Sign of the Four is the second of Arthur Conan Doyle's Sherlock Holmes novels. In it, the detective and his companion Dr. Watson unravel a mystery of hidden treasure and murder.
						</p>
						<button><a href="https://play.google.com/books/reader?id=OBM3AAAAIAAJ&hl=en_GB&pg=GBS.PA1.w.2.0.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/arabianNights.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Arabian Nights</h2>
						<p>Story straight out of a romance novel. It's an epic collection of Arabic folk tales written during the Islamic Golden Age.</p>
						<button><a href="https://play.google.com/books/reader?id=48MXAAAAYAAJ&hl=en_GB&pg=GBS.PA7.w.2.1.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/coralIsland.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Coral Island</h2>
						<p>
							Novel written by Scottish author R. M. Ballantyne. Featuring exclusively juvenile heroes, the story relates the adventures of three boys marooned on a South
							Pacific island, the only survivors of a shipwreck.
						</p>
						<button><a href="https://play.google.com/books/reader?id=lAYGAAAAQAAJ&hl=en_GB&pg=GBS.PP1.w.1.0.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/scarletLetter.png" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Scarlet Letter</h2>
						<p>
							Hester believes herself a widow, but her husband, Roger Chillingworth, arrives in New England very much alive and conceals his identity. He finds his wife
							forced to wear the scarlet letter A on her dress as punishment for her adultery.
						</p>
						<button><a href="https://play.google.com/books/reader?id=QSUZAAAAYAAJ&hl=en_GB&pg=GBS.PA79.w.1.0.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/huckleberryFinn.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Adventures of Huckleberry Finn</h2>
						<p>
							The story of Huckleberry Finn's escape from his alcoholic and abusive father and Huck's adventurous journey down the Mississippi River together witht he
							runaway slave Jim.
						</p>
						<button><a href="https://play.google.com/books/reader?id=S3JHAAAAYAAJ&hl=en_GB&pg=GBS.PA15.w.0.1.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/emeraldCity.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Emerald City of Oz</h2>
						<p>
							Story of Dorothy Gale and her Uncle Henry and Aunt em coming to live in Oz permanently. While they are toured through the Quadling Country, the Nome King is
							assembling allies for an invasion of Oz.
						</p>
						<button><a href="https://play.google.com/books/reader?id=buAQAAAAYAAJ&hl=en_GB&pg=GBS.PA9.w.8.0.0" target="_blank">Read</a></button>
					</div>
				</div>

				<div class="books">
					<img style="width: 130px" src="/wwwroot/images/ebook-covers/floatingCity.jpg" alt="Cover" class="book-cover" />
					<div class="description">
						<h2>The Floating City and the Blockade Runners</h2>
						<p>
							The blockade runner: James Playfair must run a Federalist blockade of a Charleston, South Carolina harbour in an effort to trade supplies for cotton and to
							rescue a young girl's father, a Confederate prisoner.
						</p>
						<button><a href="https://play.google.com/books/reader?id=mZURES_1HGcC&hl=en_GB&pg=GBS.PP17.w.1.0.0" target="_blank">Read</a></button>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Systematrics  All rights reserved.</a>.</p>
            </footer>
        </div>
	</div>
</div>

<!-- Library script -->
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script>

</script>