
@{
	ViewData["Title"] = "Junior High Modules";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />

<link rel="stylesheet" href="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/wwwroot/css/modules.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">
				<a href="/Home/Library" class="logo"><strong>Library</strong></a>
				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<section>
				<header class="main">
					<h2 style="margin: 0 auto !important; text-align: center">Junior High School Modules</h2>
					<p style="text-align: center">Modules from <a href="https://commons.deped.gov.ph/" target="_blank"> DEPED COMMONS</a></p>
				</header>

				<ul class="faq-list">
					<!-- Grade 7 -->
					<li class="J_list">
						<div class="list-header">Grade 7</div>
						<div class="list-content">
							<div class="list-content-inner">
								<section>
									<header class="main">
										<h3>English</h3>
									</header>
									<div id="g7-coverflow-english">
										<div id="g7-english">
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/1.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/2.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/3.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/4.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/5.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/6.png" /></a>
											<a href="/wwwroot/module/grade7/eng7/eng7_q1_md7-8.pdf" target="_blank"><img src="/wwwroot/cover/g7/eng7/7.png" /></a>
										</div>
										<div id="g7-english-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Math</h3>
									</header>
									<div id="g7-coverflow-math">
										<div id="g7-math">
											<a href="/wwwroot/module/grade7/math7/math7_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/1.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/2.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/3.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/4.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/5.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/6.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/7.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/8.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md9.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/9.png" /></a>
											<a href="/wwwroot/module/grade7/math7/math7_q1_md10.pdf" target="_blank"><img src="/wwwroot/cover/g7/math7/10.png" /></a>
										</div>
										<div id="g7-math-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Filipino</h3>
									</header>
									<div id="g7-coverflow-fil">
										<div id="g7-fil">
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/1.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/2.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/3.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/4.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/5.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/6.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/7.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/8.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md9.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/9.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md10.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/10.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md11.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/11.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md12.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/12.png" /></a>
											<a href="/wwwroot/module/grade7/fil7/fil7_q1_md13.pdf" target="_blank"><img src="/wwwroot/cover/g7/fil7/13.png" /></a>
										</div>
										<div id="g7-fil-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Science</h3>
									</header>
									<div id="g7-coverflow-science">
										<div id="g7-science">
											<a href="/wwwroot/module/grade7/sci7/sci7_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g7/sci7/1.png" /></a>
											<a href="/wwwroot/module/grade7/sci7/sci7_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g7/sci7/2.png" /></a>
											<a href="/wwwroot/module/grade7/sci7/sci7_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g7/sci7/3.png" /></a>
											<a href="/wwwroot/module/grade7/sci7/sci7_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g7/sci7/4.png" /></a>
											<a href="/wwwroot/module/grade7/sci7/sci7_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g7/sci7/5.png" /></a>
										</div>
										<div id="g7-science-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>
							</div>
						</div>
					</li>

					<!-- Grade 8 -->
					<li class="J_list">
						<div class="list-header">Grade 8</div>
						<div class="list-content">
							<div class="list-content-inner">
								<section>
									<header class="main">
										<h3>English</h3>
									</header>
									<div id="g8-coverflow-english">
										<div id="g8-english">
											<a href="/wwwroot/module/grade8/eng8/eng8_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g8/eng8/1.png" /></a>
											<a href="/wwwroot/module/grade8/eng8/eng8_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g8/eng8/2.png" /></a>
											<a href="/wwwroot/module/grade8/eng8/eng8_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g8/eng8/3.png" /></a>
											<a href="/wwwroot/module/grade8/eng8/eng8_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g8/eng8/4.png" /></a>
											<a href="/wwwroot/module/grade8/eng8/eng8_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g8/eng8/5.png" /></a>
										</div>
										<div id="g8-english-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Math</h3>
									</header>
									<div id="g8-coverflow-math">
										<div id="g8-math">
											<a href="/wwwroot/module/grade8/math8/math8_q1_md1a.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/1.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md1b.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/2.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/3.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/4.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/5.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md5a.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/6.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md5b.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/7.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md5c.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/8.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/9.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/10.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/11.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md9.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/12.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md10.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/13.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md11.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/14.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md12.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/15.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md13.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/16.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md14.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/17.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md15.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/18.png" /></a>
											<a href="/wwwroot/module/grade8/math8/math8_q1_md16.pdf" target="_blank"><img src="/wwwroot/cover/g8/math8/19.png" /></a>
										</div>
										<div id="g8-math-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Filipino</h3>
									</header>
									<div id="g8-coverflow-fil">
										<div id="g8-fil">
											<a href="/wwwroot/module/grade8/fil8/fil8_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g8/fil8/1.png" /></a>
											<a href="/wwwroot/module/grade8/fil8/fil8_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g8/fil8/2.png" /></a>
										</div>
										<div id="g8-fil-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Science</h3>
									</header>
									<div id="g8-coverflow-science">
										<div id="g8-science">
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/1.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/2.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/3.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/4.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/5.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/6.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/7.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/8.png" /></a>
											<a href="/wwwroot/module/grade8/sci8/sci8_q1_md9.pdf" target="_blank"><img src="/wwwroot/cover/g8/sci8/9.png" /></a>
										</div>
										<div id="g8-science-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>
							</div>
						</div>
					</li>

					<!-- Grade 9 -->
					<li class="J_list">
						<div class="list-header">Grade 9</div>
						<div class="list-content">
							<div class="list-content-inner">
								<section>
									<header class="main">
										<h3>English</h3>
									</header>
									<div id="g9-coverflow-english">
										<div id="g9-english">
											<a href="/wwwroot/module/grade9/eng9/eng9_q1_md1-3.pdf" target="_blank"><img src="/wwwroot/cover/g9/eng9/1.png" /></a>
											<a href="/wwwroot/module/grade9/eng9/eng9_q1_md4-5.pdf" target="_blank"><img src="/wwwroot/cover/g9/eng9/2.png" /></a>
											<a href="/wwwroot/module/grade9/eng9/eng9_q1_md6-8.pdf" target="_blank"><img src="/wwwroot/cover/g9/eng9/3.png" /></a>
										</div>
										<div id="g9-english-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Math</h3>
									</header>
									<div id="g9-coverflow-math">
										<div id="g9-math">
											<a href="/wwwroot/module/grade9/math9/math9_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/1.png" /></a>
											<a href="/wwwroot/module/grade9/math9/math9_q1_md2-3.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/2.png" /></a>
											<a href="/wwwroot/module/grade9/math9/math9_q1_md4-5.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/3.png" /></a>
											<a href="/wwwroot/module/grade9/math9/math9_q1_md6-7.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/4.png" /></a>
											<a href="/wwwroot/module/grade9/math9/math9_q1_md8-9.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/5.png" /></a>
											<a href="/wwwroot/module/grade9/math9/math9_q1_md10.pdf" target="_blank"><img src="/wwwroot/cover/g9/math9/6.png" /></a>
										</div>
										<div id="g9-math-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Filipino</h3>
									</header>
									<div id="g9-coverflow-fil">
										<div id="g9-fil">
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/1.png" /></a>
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/2.png" /></a>
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/3.png" /></a>
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/4.png" /></a>
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/5.png" /></a>
											<a href="/wwwroot/module/grade9/fil9/fil9_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g9/fil9/6.png" /></a>
										</div>
										<div id="g9-fil-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Science</h3>
									</header>
									<div id="g9-coverflow-science">
										<div id="g9-science">
											<a href="/wwwroot/module/grade9/sci9/sci9_q1_md1-2.pdf" target="_blank"><img src="/wwwroot/cover/g9/sci9/1.png" /></a>
											<a href="/wwwroot/module/grade9/sci9/sci9_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g9/sci9/2.png" /></a>
											<a href="/wwwroot/module/grade9/sci9/sci9_q1_md4-5.pdf" target="_blank"><img src="/wwwroot/cover/g9/sci9/3.png" /></a>
											<a href="/wwwroot/module/grade9/sci9/sci9_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g9/sci9/4.png" /></a>
											<a href="/wwwroot/module/grade9/sci9/sci9_q1_md7-8.pdf" target="_blank"><img src="/wwwroot/cover/g9/sci9/5.png" /></a>
										</div>
										<div id="g9-science-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>
							</div>
						</div>
					</li>

					<!-- Grade10 -->
					<li class="J_list">
						<div class="list-header">Grade 10</div>
						<div class="list-content">
							<div class="list-content-inner">
								<section>
									<header class="main">
										<h3>English</h3>
									</header>
									<div id="g10-coverflow-english">
										<div id="g10-english">
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/1.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/2.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/3.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/4.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/5.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md6-7.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/6.png" /></a>
											<a href="/wwwroot/module/grade10/eng10/eng10_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g10/eng10/7.png" /></a>
										</div>
										<div id="g10-english-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Math</h3>
									</header>
									<div id="g10-coverflow-math">
										<div id="g10-math">
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/1.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/2.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/3.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/4.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/5.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/6.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/7.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md8.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/8.png" /></a>
											<a href="/wwwroot/modules/grade10/math10/math10_q1_md9.pdf" target="_blank"><img src="/wwwroot/cover/g10/math10/9.png" /></a>
										</div>
										<div id="g10-math-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Filipino</h3>
									</header>
									<div id="g10-coverflow-fil">
										<div id="g10-fil">
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/1.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/2.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/3.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/4.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/5.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md6.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/6.png" /></a>
											<a href="/wwwroot/module/grade10/fil10/fil10_q1_md7.pdf" target="_blank"><img src="/wwwroot/cover/g10/fil10/7.png" /></a>
										</div>
										<div id="g10-fil-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Science</h3>
									</header>
									<div id="g10-coverflow-science">
										<div id="g10-science">
											<a href="/wwwroot/module/grade10/sci10/sci10_q1_md1.pdf" target="_blank"><img src="/wwwroot/cover/g10/sci10/1.png" /></a>
											<a href="/wwwroot/module/grade10/sci10/sci10_q1_md2.pdf" target="_blank"><img src="/wwwroot/cover/g10/sci10/2.png" /></a>
											<a href="/wwwroot/module/grade10/sci10/sci10_q1_md3.pdf" target="_blank"><img src="/wwwroot/cover/g10/sci10/3.png" /></a>
											<a href="/wwwroot/module/grade10/sci10/sci10_q1_md4.pdf" target="_blank"><img src="/wwwroot/cover/g10/sci10/4.png" /></a>
											<a href="/wwwroot/module/grade10/sci10/sci10_q1_md5.pdf" target="_blank"><img src="/wwwroot/cover/g10/sci10/5.png" /></a>
										</div>
										<div id="g10-science-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">
            <!-- Home Back Button -->
            <a href="/Home">
                <div class="home-back-button">
                    <i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
                </div>
            </a>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; HPM. All rights reserved. </a>.</p>
            </footer>
        </div>
	</div>
</div>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script src="~/wwwroot/js/dictionary.js"></script>

<!-- Modules script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.min.js"></script>
<script src="~/wwwroot/js/modules_script/grade7_8.js"></script>
