
@{
	ViewData["Title"] = "Kindergarten Modules";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />

<link rel="stylesheet" href="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/wwwroot/css/modules.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a href="/Home" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<section>
				<header class="main">
					<h2 style="margin: 0 auto !important; text-align: center">Kindergarten</h2>
					<p style="text-align: center">Modules from <a href="https://lrmds.deped.gov.ph/" target="_blank"> DEPED LEARNING PORTAL</a></p>
				</header>
				<ul class="faq-list">
					<!-- kindergarten -->
					<li class="J_list">
						<div class="list-header">Modules</div>
						<div class="list-content">
							<div class="list-content-inner">
								<section>
									<header class="main">
										<h3>Math</h3>
									</header>
									<div id="k-coverflow-learning">
										<div id="k-learning">
											<a href="/wwwroot/module/kinder/kin_cnt.pdf" target="_blank"><img src="/wwwroot/cover/kinder/1.png" /></a>
										</div>
										<div id="k-learning-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>

								<section>
									<header class="main">
										<h3>Filipino</h3>
									</header>
									<div id="k-coverflow-reading">
										<div id="k-reading">
											<a href="/wwwroot/module/kinder/kin_rdtg1.pdf" target="_blank"><img src="/wwwroot/cover/kinder/2.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdtg2.pdf" target="_blank"><img src="/wwwroot/cover/kinder/3.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdtg3.pdf" target="_blank"><img src="/wwwroot/cover/kinder/4.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdeng1.pdf" target="_blank"><img src="/wwwroot/cover/kinder/5.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdtg4.pdf" target="_blank"><img src="/wwwroot/cover/kinder/6.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdtg5.pdf" target="_blank"><img src="/wwwroot/cover/kinder/7.png" /></a>
											<a href="/wwwroot/module/kinder/kin_rdtg6.pdf" target="_blank"><img src="/wwwroot/cover/kinder/8.png" /></a>
										</div>
										<div id="k-reading-controls">
											<i class="fa fa-chevron-left"></i>
											<i class="fa fa-chevron-right"></i>
										</div>
									</div>
								</section>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">
           

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; HPM. All rights reserved.</a>.</p>
            </footer>
        </div>
	</div>
</div>

<!-- Library script -->
<script src="/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="/wwwroot/js/browser.min.js"></script>
<script src="/wwwroot/js/breakpoints.min.js"></script>
<script src="/wwwroot/js/util.js"></script>
<script src="/wwwroot/js/library.js"></script>

<!-- Modules script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.min.js"></script>
<script src="/wwwroot/js/modules.js"></script>
<script src="/wwwroot/js/modules_script/kinder.js"></script>

