
@{
	ViewData["Title"] = "Study Tips";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="~/wwwroot/css/studytips.css" />
<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">
				<a class="logo"><strong>Study Tips</strong></a>
				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<div style="margin-bottom: 20px">
				<p>
					Implementing these tips into your regular study routine will help you to efficiently and effectively learn course material. Experiment with them and find some
					that work for you.
				</p>
				<img class="studying" src="/wwwroot/images/studying.png" alt="Studying" />
				<section>
					<h2>Reading is not studying</h2>
					<p>
						Simply reading and re-reading texts or notes is not actively engaging in the material. It is simply re-reading your notes. Only 'doing' the readings for class
						is not studying. It is simply doing the reading for class. Re-reading for class. Re-rereading leads to quick forgetting.
					</p>
					<p>
						Think of reading as an important part of pre-studying, but learning information requires actively engaging in the material (Edwards, 2014). Active engagement
						is the process of constructing meaning from text that involves making connections to lectures, forming examples, and regulating your own learning (Davis,
						2007). Active studying does not mean highlighting or underlining text, re-reading, or rote memorization. Though these activities may help to keep you engaged
						in the task, they are not considered active studying techniques and are weakly related to improved learning (Mackenzie, 1994).
					</p>
					<p>Ideas for active studying include:</p>
					<ul class="bulletList">
						<li>Create a study guide by topic. Formulate questions and problems and write complete answers. Create your own quiz.</li>
						<li>Become a teacher. Say the information aloud in your own words as if you are the instructor and teaching the concepts to a class.</li>
						<li>Derive examples that relate to your own experiences.</li>
						<li>Create concept maps or diagrams that explain the material.</li>
						<li>Develop symbols that represent concepts.</li>
						<li>Figure out the big ideas so you can explain, contrast, and re-evaluate them.</li>
						<li>For technical classes, work the problems and explain the steps and why they work.</li>
						<li>
							Study in terms of question, evidence, and conclusion: What is the question posed by the instructor/author? What is the evidence that they present? What is
							the conclusion?
						</li>
					</ul>
					<p>
						Organization and planning will help you to actively study for your courses. When studying for a test, organize your materials first and then begin your active
						reviewing by topic (Newport, 2007). Often professors provide subtopics on the syllabi. Use them as a guide to help organize your materials. For example, gather
						all of the materials for one topic (e.g., PowerPoint notes, text book notes, articles, homework, etc.) and put them together in a pile. Label each pile with
						the topic and study by topics.
					</p>
					<p>
						For more information on the principle behind active studying, check out this online tipsheet on
						<a href="https://learningcenter.unc.edu/tips-and-tools/metacognitive-study-strategies/">metacognition</a>.
					</p>
				</section>
				<section>
					<h2>Understand the Study Cycle</h2>
					<div style="display: flex; flex-wrap: wrap">
						<p class="p-section">
							<a href="https://learningcenter.unc.edu/tips-and-tools/the-study-cycle/">The Study Cycle</a>, developed by Frank Christ, breaks down the different parts of
							studying: previewing, attending class, reviewing, studying, and checking your understanding. Although each step may seem obvious at a glance, all too often
							students try to take shortcuts and miss opportunities for good learning. For example, you may skip a reading before class because the professor covers the
							same material in class; doing so misses a key opportunity to learn in different modes (reading and listening) and to benefit from the repetition and
							distributed practice that you’ll get from both reading ahead and attending class. Understanding the importance of all stages of this cycle will help make
							sure you don’t miss opportunities to learn effectively.
						</p>
						<img class="study-cycle" src="/wwwroot/images/study-cycle.png" alt="" />
					</div>
				</section>
				<section>
					<h2>Spacing out is good</h2>
					<p>
						One of the most impactful learning strategies is “distributed practice”—spacing out your studying over several short periods of time over several days and
						weeks (Newport, 2007). The most effective practice is to work a short time on each class every day. The total amount of time spent studying will be the same
						(or less) than one or two marathon library sessions, but you will learn the information more deeply and retain much more for the long term—which will help get
						you an A on the final. The important thing is how you use your study time, not how long you study. Long study sessions lead to a lack of concentration and thus
						a lack of learning and retention.
					</p>

					<p>
						In order to spread out studying over short periods of time across several days and weeks, you need control over your
						<a href="https://learningcenter.unc.edu/tips-and-tools/weekly-planner-60-min/">schedule</a>. Keeping a list of tasks to complete on a daily basis will help you
						to include regular active studying sessions for each class. Try to do something for each class each day. Be specific and realistic regarding how long you plan
						to spend on each task—you should not have more tasks on your list than you can reasonably complete during the day.
					</p>
					<p>
						For example, you may do a few problems per day in math rather than all of them the hour before class. In history, you can spend 15-20 minutes each day actively
						studying your class notes. Thus, your studying time may still be the same length, but rather than only preparing for one class, you will be preparing for all
						of your classes in short stretches. This will help focus, stay on top of your work, and retain information.
					</p>
					<p>
						In addition to learning the material more deeply, spacing out your work helps stave off procrastination. Rather than having to face the dreaded project for
						four hours on Monday, you can face the dreaded project for 30 minutes each day. The shorter, more consistent time to work on a dreaded project is likely to be
						more acceptable and less likely to be delayed to the last minute. Finally, if you have to memorize material for class (names, dates, formulas), it is best to
						make flashcards for this material and review periodically throughout the day rather than one long, memorization session (Wissman and Rawson, 2012).
					</p>
				</section>
				<section>
					<h2>It's good to be intense</h2>
					<p>
						Not all studying is equal. You will accomplish more if you study intensively. Intensive study sessions are short and will allow you to get work done with
						minimal wasted effort. Shorter, intensive study times are more effective than drawn out studying.
					</p>
					<div style="display: flex; flex-wrap: wrap">
						<p class="p-section">
							In fact, one of the most impactful study strategies is distributing studying over multiple sessions (Newport, 2007). Intensive study sessions can last 30 or
							45-minute sessions and include active studying strategies. For example, self-testing is an active study strategy that improves the intensity of studying and
							efficiency of learning. However, planning to spend hours on end self-testing is likely to cause you to become distracted and lose your attention.
						</p>
						<img class="study-intense" src="/wwwroot/images/study-intense.png" alt="" />
					</div>
					<p>
						On the other hand, if you plan to quiz yourself on the course material for 45 minutes and then take a break, you are much more likely to maintain your
						attention and retain the information. Furthermore, the shorter, more intense sessions will likely put the pressure on that is needed to prevent
						procrastination.
					</p>
				</section>
				<section>
					<h2>Silence isn't golden</h2>
					<p>
						Know where you study best. The silence of a library may not be the best place for you. It’s important to consider what noise environment works best for you.
						You might find that you concentrate better with some background noise. Some people find that listening to classical music while studying helps them
						concentrate, while others find this highly distracting. The point is that the silence of the library may be just as distracting (or more) than the noise of a
						gymnasium. Thus, if silence is distracting, but you prefer to study in the library, try the first or second floors where there is more background ‘buzz.’
					</p>
					<p>Keep in mind that active studying is rarely silent as it often requires saying the material aloud.</p>
				</section>
				<section>
					<h2>Problems are your friend</h2>
					<div style="display: flex; flex-wrap: wrap">
						<p class="p-section">
							It is usually more important to work problems than read the text (Newport, 2007). In class, write down in detail the practice problems demonstrated by the
							professor. Annotate each step and ask questions if you are confused. At the very least, record the question and the answer (even if you miss the steps).
							<br /><br />
							When preparing for tests, put together a large list of problems from the course materials and lectures. Work the problems and explain the steps and why they
							work (Carrier, 2003).
						</p>
						<img class="study-problem" src="/wwwroot/images/study-problem.png" alt="" />
					</div>
				</section>
				<section>
					<h2>Reconsider multitasking</h2>
					<p>A significant amount of research indicates that multi-tasking does not improve efficiency and actually negatively affects results (Junco, 2012).</p>
					<div style="display: flex; flex-wrap: wrap">
						<p class="p-section">
							In order to study smarter, not harder, you will need to eliminate distractions during your study sessions. Social media, web browsing, game playing, texting,
							etc. will severely affect the intensity of your study sessions if you allow them! Research is clear that multi-tasking (e.g., responding to texts, while
							studying), increases the amount of time needed to learn material and decreases the quality of the learning (Junco, 2012).
							<br /><br />
							Eliminating the distractions will allow you to fully engage during your study sessions. If you don’t need your computer for homework, then don’t use it. Use
							apps to help you set limits on the amount of time you can spend at certain sites during the day.
						</p>
						<img class="study-multitask" src="/wwwroot/images/study-multitask.png" alt="" />
						<p>
							Turn your phone off. Reward intensive studying with a social-media break (but make sure you time your break!) See this handout on
							<a href="https://learningcenter.unc.edu/tips-and-tools/decreasing-digital-distractions/">Managing Technology</a> for more tips and strategies.
						</p>
					</div>
				</section>
				<section>
					<h2>Switch up your setting</h2>
					<p>
						Find several places to study in and around campus and change up your space if you find that it is no longer a working space for you.
						<br /><br />
						Know when and where you study best. It may be that your focus at 10:00 PM. is not as sharp as at 10:00 AM. Perhaps you are more productive at a coffee shop
						with background noise, or in the study lounge in your residence hall. Perhaps when you study on your bed, you fall asleep.
						<br /><br />
						Have a variety of places in and around campus that are good study environments for you. That way wherever you are, you can find your perfect study spot. After
						a while, you might find that your spot is too comfortable and no longer is a good place to study, so it’s time to hop to a new spot!
					</p>
				</section>
				<section>
					<h2>Become a teacher</h2>
					<div style="display: flex; flex-wrap: wrap">
						<p class="p-section1">
							Try to explain the material in your own words, as if you are the teacher. You can do this in a study group, with a study partner, or on your own. Saying the
							material aloud will point out where you are confused and need more information and will help you retain the information. As you are explaining the material,
							use examples and make connections between concepts (just as a teacher does). It is okay (even encouraged) to do this with your notes in your hands. At first
							you may need to rely on your notes to explain the material, but eventually you’ll be able to teach it without your notes.
						</p>
						<img class="study-teacher" src="/wwwroot/images/study-teacher.png" alt="" />
					</div>
					<p>
						Creating a quiz for yourself will help you to think like your professor. What does your professor want you to know? Quizzing yourself is a highly effective
						study technique. Make a study guide and carry it with you so you can review the questions and answers periodically throughout the day and across several days.
						Identify the questions that you don’t know and quiz yourself on only those questions. Say your answers aloud. This will help you to retain the information and
						make corrections where they are needed. For technical courses, do the sample problems and explain how you got from the question to the answer. Re-do the
						problems that give you trouble. Learning the material in this way actively engages your brain and will significantly improve your memory (Craik, 1975).
					</p>
				</section>
				<section>
					<h2>Use downtime to your advantage</h2>
					<p>
						Beware of ‘easy’ weeks. This is the calm before the storm. Lighter work weeks are a great time to get ahead on work or to start long projects. Use the extra
						hours to get ahead on assignments or start big projects or papers. You should plan to work on every class every week even if you don’t have anything due. In
						fact, it is preferable to do some work for each of your classes every day. Spending 30 minutes per class each day will add up to three hours per week, but
						spreading this time out over six days is more effective than cramming it all in during one long three-hour session. If you have completed all of the work for a
						particular class, then use the 30 minutes to get ahead or start a longer project.
					</p>
				</section>

				For more study tips for Online and Remote Learning, visit
				<a href="https://learningcenter.unc.edu/tips-and-tools/online-and-remote-learning/">The Learning Center</a>,
				<a href="oxfordlearning.com/tips-for-studying-at-home/">Oxford Learning</a> and
				<a href="https://www.topuniversities.com/student-info/health-and-support/exam-preparation-ten-study-tips">Top Universities</a>
			</div>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">
            <!-- Home Back Button -->
            <a href="/Home">
                <div class="home-back-button">
                    <i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
                </div>
            </a>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; HPM. All rights reserved.</p>
            </footer>
        </div>
	</div>
</div>

<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
