
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<style>
	#directory {
		padding-top:3px !important;
	}
</style>
<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<section id="directory">
				<header class="main">
					<h2>eBooks Web Directory</h2>
					<p>Sites where you can read full books online.</p>
				</header>
				<div class="card-group">
					<div class="card">
						<a href="https://www.gutenberg.org/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/ebooksD-images/project-gutenberg.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Project Gutenberg</h5>
							<p class="card-text">
								Project Gutenberg is a mother of all ebook sites. It started in 1971, when the world’s first ebook was created by Michael S. Hart. It was “Declaration of Independence of the United States of America,” and you can read it right away in a next tab of your internet browser.
							</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
					<div class="card">
						<a href="https://archive.org/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/ebooksD-images/Internet-archive.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Internet Archive</h5>
							<p class="card-text">Internet Archive, founded in 1996, is a non-profit organization offering free access to digital or digitized content: books, images, videos, or audio files.</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
					<div class="card">
						<a href="https://openlibrary.org/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/ebooksD-images/open-library.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Open Library</h5>
							<p class="card-text">
								Open Library is Internet Archive’s separate project, focused on collecting library records. Its goal is to create one web page for every book ever published. On a page of a single book, you’ll find all its documented editions.
							</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
				</div>


				<div class="card-group">
					<div class="card">
						<a href="https://books.google.com.ph/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/ebooksD-images/google-books.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Google Books</h5>
							<p class="card-text">A huge collection of books that Google has scanned and turned into viewable files is available on Google Books.</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
					<div class="card">
						<a href="https://www.smashwords.com/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/ebooksD-images/smashwords.png" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Smashwords</h5>
							<p class="card-text">Smashwords is a leading online platform with ebooks from independent authors and publishers. There are currently over 500,000 from over 100,000 self-published authors.</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
					<div class="card">
						<a href="https://manybooks.net/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/ebooksD-images/manybooks.png" />
						</a>
						<div class="card-body">
							<h5 class="card-title">ManyBooks</h5>
							<p class="card-text">ManyBooks offers free books in a clean and friendly interface. The site is ad supported but these ads are displayed usually at the bottom of the browser window and are not too disturbing.</p>
						</div>
						<div class="card-footer">

						</div>
					</div>
				</div>

				<div class="card-group">
					<div class="card">
						<a href="https://www.wattpad.com/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/ebooksD-images/wattpad.png" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Wattpad</h5>
							<p class="card-text">
								Wattpad is one of the most popular e-reading websites in the world. It connects over 80 million readers-writers who spend over 23 billion minutes a month
								engaged in original stories published directly on the platform.
							</p>
						</div>
						<div class="card-footer"></div>
					</div>
					<div class="card">
						<a href="https://bookboon.com/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/ebooksD-images/bookboon.png" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Bookboon</h5>
							<p class="card-text">
								Bookboon is an online platform focused on providing free and paid textbooks for students and businesses.You can find on Bookboon several interesting books
								from the following categories: engineering, IT & programming, economics & finance, career & study advice, marketing, strategy & management, or languages.
							</p>
						</div>
						<div class="card-footer"></div>
					</div>
					<div class="card">
						<a href="http://www.authorama.com/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/ebooksD-images/authorama.png" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Authorama</h5>
							<p class="card-text">
								If you are looking for a site that loads quickly even when you have a slow connection speed, you should visit Authorama. Created and maintained by Philipp
								Lenssen, this dead-simple website includes several dozen popular books from Project Gutenberg.
							</p>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input id="input-search" type="text" name="query" id="query" placeholder="Search" onkeyup="searchFunction()" onkeypress="return event.keyCode != 13;" />
                </form>
            </section>


            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; HPM. All rights reserved.</p>
            </footer>
        </div>
	</div>
</div>
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script>
	function searchFunction() {
		var $rows = $('#directory div div');
		$('#input-search').keyup(function () {
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase().split(' ');
			$rows.hide().filter(function () {
				var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
				var matchesSearch = true;
				$(val).each(function (index, value) {
					matchesSearch = (!matchesSearch) ? false : ~text.indexOf(value);
				});
				return matchesSearch;
			}).show();
		});
	}
</script>