
<link rel="stylesheet" href="~/wwwroot/css/library.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">
				<a class="logo"><strong>Library</strong></a>
				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<section id="directory">
				<header class="main">
					<h2>English Web Directory</h2>
				</header>
				<div class="card-group">
					<div class="card">
						<a href="https://www.storynory.com/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/directory-images/Sciencekids.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Storynory</h5>
							<p class="card-text">
								Features a collection of original fairy tale, and classic children’s audiobook. Students can follow along with the story as it is read to them, as the text is also included on the site.
							</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
					<div class="card">
						<a href="https://www.abcya.com/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/directory-images/ABCYa.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">ABCya</h5>
							<p class="card-text">Includes educational games organized by grade level (1st to 5th), particularly good for spelling and phonics.</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
					<div class="card">
						<a href="http://a4esl.org/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/directory-images/a4esl.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Activities for English second language students</h5>
							<p class="card-text">
								Grammar and vocabulary practice for all levels, including many bilingual quizzes for beginners. Also includes link for teachers, with conversation questions, games, and other ideas use in the classroom.
							</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
				</div>


				<div class="card-group">
					<div class="card">
						<a href="https://www.bbc.co.uk/learningenglish/" target="_blank">
							<img class="card-img-top"
								 src="/wwwroot/images/directory-images/BBC.png"
								 alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">BBC Learning English</h5>
							<p class="card-text">Includes videos, quizzes, vocabulary practice, idioms, crosswords, and much more. Though all with British accents.</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
					<div class="card">
						<a href="https://www.learningchocolate.com/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/directory-images/learning chocolate.png" alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Learning Chocolate</h5>
							<p class="card-text">Vocabulary exercise organized by theme.</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
					<div class="card">
						<a href="https://www.languageguide.org/english/" target="_blank">
							<img class="card-img-top" src="/wwwroot/images/directory-images/language guide.png" alt="Card image cap" />
						</a>
						<div class="card-body">
							<h5 class="card-title">Language Guide</h5>
							<p class="card-text">Online picture dictionary, with everything from the alphabet to parts of the body to farm animals.</p>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input id="input-search" type="text" name="query" id="query" placeholder="Search" onkeyup="searchFunction()" onkeypress="return event.keyCode != 13;" />
                </form>
            </section>

            <!-- Home Back Button -->
            <a href="/Home"><div class="home-back-button"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i>Back</div></a>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; HPM. All rights reserved.</p>
            </footer>
        </div>
	</div>
</div>

<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script>
	function searchFunction() {
		var $rows = $('#directory div div');
		$('#input-search').keyup(function () {
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase().split(' ');
			$rows.hide().filter(function () {
				var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
				var matchesSearch = true;
				$(val).each(function (index, value) {
					matchesSearch = (!matchesSearch) ? false : ~text.indexOf(value);
				});
				return matchesSearch;
			}).show();
		});
	}
</script>