@model IEnumerable<EdulearnWebsite.Models.Module>
@{
	ViewData["Title"] = "Edulearn | Junior High Modules";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />

<link rel="stylesheet" href="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/wwwroot/css/modules.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<section>
				<header class="main">
					<h2 style="margin: 0 auto !important; text-align: center">Junior High School Modules</h2>
					<p style="text-align: center">Modules from <a href="https://commons.deped.gov.ph/" target="_blank"> DEPED COMMONS</a></p>
				</header>
				
				<ul class="faq-list" id="seniorhighschool">
					<header class="main">
						<h3>Senior Highschool</h3>
						<div class="m-1"><span style="width: 100px; background-color:bisque;" class="text-center p-1">Quarter 1</span> <span style="		width: 100px; background-color: #c4ecff;" class="text-center p-1">Quarter 1</span> </div>
						<div class="m-1">
							<span style=" width: 100px; background-color: #f5b8b8;" class="text-center p-1">Quarter 3</span> <span style=" width: 100px; background-color: #bdf5b8;" class="text-center p-1">Quarter 4</span>
						</div>
					</header>
					<!-- kindergarten -->
					<li class="J_list">
						<div class="list-header">Grade 11</div>
						<div class="list-content">
							<div class="list-content-inner">
								<h3 class="text-center">Oral Communication</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "Oral Communication" && c.gradeLevel == "Grade11" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "Oral Communication" && c.gradeLevel == "Grade11" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "Oral Communication" && c.gradeLevel == "Grade11" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color: #f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "Oral Communication" && c.gradeLevel == "Grade11" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<h3 class="text-center">Media & Information Literacy</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "MIL" && c.gradeLevel == "Grade11" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "MIL." && c.gradeLevel == "Grade11" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "MIL." && c.gradeLevel == "Grade11" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color: #f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "MIL." && c.gradeLevel == "Grade11" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<h3 class="text-center">Personal Development</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "PerDev" && c.gradeLevel == "Grade11" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PerDev" && c.gradeLevel == "Grade11" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PerDev" && c.gradeLevel == "Grade11" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color: #f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PerDev" && c.gradeLevel == "Grade11" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</li>
					<!-- seniorhighschool -->
					<li class="J_list">
						<div class="list-header">Grade 12</div>
						<div class="list-content">
							<div class="list-content-inner">
								<h3 class="text-center">Contemporary Philippine Art from the Regions</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "CPAR" && c.gradeLevel == "Grade12" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "CPAR" && c.gradeLevel == "Grade12" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "CPAR" && c.gradeLevel == "Grade12" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color: #f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "CPAR" && c.gradeLevel == "Grade12" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<h3 class="text-center">Komunikasyon at Pananaliksik sa Wika at Kulturang Pilipino</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "KP" && c.gradeLevel == "Grade12" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "KP" && c.gradeLevel == "Grade12" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "KP" && c.gradeLevel == "Grade12" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color: #f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "KP" && c.gradeLevel == "Grade12" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<h3 class="text-center">Physical Science</h3>
								<div class="table-wrapper">
									<table style="text-align: center;">
										<thead>
											<tr>
												<th style="text-align: center;">Title</th>
												<th style="text-align: center;">Description</th>
												<th style="text-align: center;">Actions</th>
											</tr>
										</thead>
										<tbody>
											@*@foreach (var item in Model.Where(c => c.gradeLevel.Equals(1)))*@
											@foreach (var item in Model.Where(c => c.subject == "PS" && c.gradeLevel == "Grade12" && c.quarterNo == 1))
											{
												<tr>
													<td style="background-color:bisque;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PS" && c.gradeLevel == "Grade12" && c.quarterNo == 2))
											{
												<tr>
													<td style="		background-color: #c4ecff;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PS" && c.gradeLevel == "Grade12" && c.quarterNo == 3))
											{
												<tr>
													<td style="		background-color:#f5b8b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
											@foreach (var item in Model.Where(c => c.subject == "PS" && c.gradeLevel == "Grade12" && c.quarterNo == 4))
											{
												<tr>
													<td style="		background-color: #bdf5b8;color:#3d4449;" href="@(item.files)" target="_blank" class="pb-2">
														@Html.DisplayFor(modelItem => item.moduleNo)
														@Html.DisplayFor(modelItem => item.title)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.description)
													</td>
													<td>
														<a href="@(item.files)" target="_blank" class="button mt-2">View <i class="fa fa-book" aria-hidden="true"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>

				<ul>
					<li>@Html.ActionLink("General", "Library", "Home")</li>
					<li>

						<span class="opener">Web Directory</span>
						<ul>
							<li>@Html.ActionLink("English", "EnglishD", "Home")</li>
							<li>@Html.ActionLink("Math", "MathD", "Home")</li>
							<li>@Html.ActionLink("Filipino", "FilipinoD", "Home")</li>
							<li>@Html.ActionLink("Science", "ScienceD", "Home")</li>
						</ul>
					</li>
					<li>
						<span class="opener">Modules</span>
						<ul>
							<li>@Html.ActionLink("Kindergarten", "Kindergarten", "Modules")</li>
							<li>@Html.ActionLink("Elementary", "Elementary", "Modules")</li>
							<li>@Html.ActionLink("Junior High School", "Junior_high", "Modules")</li>
							<li>@Html.ActionLink("Senior High School", "Senior_high", "Modules")</li>
						</ul>
					</li>
					<li>
						<span class="opener">Tables & Charts</span>
						<ul>
							<li>@Html.ActionLink("Flags", "Flags", "Home")</li>
							<li>@Html.ActionLink("Numbers", "NumberChart", "Home")</li>
							<li>@Html.ActionLink("Letters", "LetterChart", "Home")</li>
							<li>@Html.ActionLink("Shapes", "Shapes", "Home")</li>
							<li>@Html.ActionLink("Colors", "Color", "Home")</li>
							<li>@Html.ActionLink("Body Parts", "BodyParts", "Home")</li>
							<li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home")</li>
						</ul>
					</li>
					<li>
						<span class="opener">Maps</span>
						<ul>
							<li>@Html.ActionLink("World Map", "World", "Home")</li>
							<li>@Html.ActionLink("Country Map", "Country", "Home")</li>
							<li>@Html.ActionLink("Google Map", "Google", "Home")</li>
						</ul>
					</li>
					<li>
						<span class="opener">Videos</span>
						<ul>
							<li>@Html.ActionLink("Youtube", "Youtube", "Home")</li>
							<li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home")</li>
						</ul>
					</li>
					<li>
						<span class="opener">eBooks</span>
						<ul>
							<li>@Html.ActionLink("Google Ebooks", "Ebook", "Home")</li>
							<li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home")</li>
						</ul>
					</li>
					<li>@Html.ActionLink("Trivia", "Trivia", "Home")</li>
					<li>@Html.ActionLink("Dictionary", "Dictionary", "Home")</li>
					<li>@Html.ActionLink("Study Tips", "StudyTips", "Home")</li>
				</ul>
			</nav>

			<!-- Section -->
			<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; HPM. All rights reserved. </a>.</p>
			</footer>
		</div>
	</div>
</div>
<!-- Library script -->
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script src="~/wwwroot/js/dictionary.js"></script>

<!-- Modules script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/coverflowjs/coverflow/master/dist/coverflow.min.js"></script>
<script src="~/wwwroot/js/modules_script/grade7_8.js"></script>
