

<link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<style>
       
body{
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    color: #424951;
 }
 .container{
    width: 100%;
    height: fit-content;
    margin: 10px auto;
    text-align: center;
}
	.pri {
		display: flex;
		flex-wrap: wrap;
	}

	img {
		width: 210px;
		height: 180px;
		margin-top: 10px;
		border-radius: 25px;
	}

	.container .clr {
		width: 260px;
		height: 260px;
		margin: 10px 10px 10px 0px;
		background-color: #F3F3F3;
		position: relative;
		box-shadow: 8px 10px 18px #615858;
		border: 4px solid #F3F3F3;
		padding: 1px 1px 1px;
		text-align: center;
		overflow: hidden;
		border-radius: 25px;
		list-style: none;
		border-radius: 25px;
	}

	.i2 {
		margin-top: 5px;
		font-size: 30px;
		margin-bottom: 0px;
	}

	.image__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		color: #F3F3F3;
		font-size: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.75s;
	}

	.image__overlay--blur {
		backdrop-filter: blur(90px);
	}

	.image__overlay > * {
		transform: translateY(20px);
		transition: transform 0.75s;
	}

	.image__overlay:hover {
		opacity: 1;
	}

		.image__overlay:hover > * {
			transform: translateY(0);
		}

	.desc {
		font-size: 13px;
		margin-top: 3px;
		padding: 15px;
		color: #F3F3F3;
	}
</style>
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center; margin-top: 30px;">Parts of the Body</h2>
				<p style="text-align: center">Let's learn the Different Parts of the Body!</p>
			</header>

			<div class="container">
				<h2>Head Part</h2>
				<div class="pri">
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/head.png"><h1 class="i2">Head</h1>
						<div class="image__overlay">
							<p class="desc">
								Head the upper or front part of the body in vertebrates,
								that contains and protects the BRAIN, eyes, mouth, nose and ears when present. There is usually a concentration of sense organs in the head, such as eyes, tentacles, antennae and mouth parts.
							</p>
						</div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/hair.png"><h1 class="i2">Hair</h1>
						<div class="image__overlay"><p class="desc">Hair is a protein filament that grows from follicles found in the dermis. Hair is one of the defining characteristics of mammals.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/forehead.png"><h1 class="i2"></a>Forehead</h1>
						<div class="image__overlay"><p class="desc">Forehead is an area of the head bounded by three features, two of the skull and one of the scalp.</p> </div>
					</li>
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/ear.png"><h1 class="i2">Ear</h1>
						<div class="image__overlay"><p class="desc">The ear is the organ of hearing and balance. <br>The parts of the ear include: Pinna or auricle. This is the outside part of the ear. External auditory canal or tube.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/mouth.png"><h1 class="i2">Mouth</h1>
						<div class="image__overlay"><p class="desc">Mouth is that it is the anterior most part of the gastrointestinal tract. Mouth is also known as the oral cavity.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/eyes.png"><h1 class="i2">Eye</h1>
						<div class="image__overlay"><p class="desc">Eye is likewise greatly included with the nerve system, which permits the brain to take in information from the eyes and make the proper choices on how to act on this info.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/nose.png"><h1 class="i2">Nose</h1>
						<div class="image__overlay"><p class="desc">Nose is the body’s primary organ of smell and also functions as part of the body’s respiratory system . Air comes into the body through the nose.</p> </div>
					</li>
				</div>

				<h2 class="t">Shoulder Part</h2>
				<div class="pri">
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/shoulder.png"><h1 class="i2" id="color">Shoulder</h1>
						<div class="image__overlay"><p class="desc">Shoulder joint comprises the part of the body where the humerus attaches to the scapula, and the head sits in the glenoid cavity. The shoulder is the group of structures in the region of the joint.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/arm.png"><h1 class="i2">Arm</h1>
						<div class="image__overlay"><p class="desc">Arm is the part of the upper limb between the glenohumeral joint (shoulder joint) and the elbow joint. In common usage, the arm extends to the hand.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/elbow.png"><h1 class="i2">Elbow</h1>
						<div class="image__overlay"><p class="desc">Elbow is the visible joint between the upper and lower parts of the arm. It includes prominent landmarks such as the olecranon, the elbow pit, the lateral and medial epicondyles, and the elbow joint.</p> </div>
					</li>
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/hand.png"><h1 class="i2">Hand</h1>
						<div class="image__overlay"><p class="desc">Hand, grasping organ at the end of the forelimb of certain vertebrates that exhibits great mobility and flexibility in the digits and in the whole organ.</p> </div>
					</li>
				</div>

				<h2 class="t">Stomach Part</h2>
				<div class="pri">
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/stomach.png"><h1 class="i2" id="color">Stomach</h1>
						<div class="image__overlay"><p class="desc">Stomach is a sac-like organ that holds food and starts to digest it by secreting gastric juice.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/chest.png"><h1 class="i2">Chest</h1>
						<div class="image__overlay"><p class="desc">Chest is the area of origin for many of the body’s systems as it houses organs such as the heart, esophagus, trachea, lungs, and thoracic diaphragm.</p> </div>
					</li>
				</div>

				<h2 class="t">Knee Part</h2>
				<div class="pri">
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/knee.png"><h1 class="i2" id="color">Knee</h1>
						<div class="image__overlay"><p class="desc">Knee is one of the largest and most complex joints in the body. The knee joins the thigh bone (femur) to the shin bone (tibia). The smaller bone that runs alongside the tibia (fibula) and the kneecap (patella) are the other bones that make the knee joint.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/thigh.png"><h1 class="i2">Thigh</h1>
						<div class="image__overlay"><p class="desc">Thigh is the area between the hip ( pelvis) and the knee. Anatomically, it is part of the lower limb. The single bone in the thigh is called the femur.</p> </div>
					</li>
					<li class="clr" id="eyes">
						<img src="~/wwwroot/images/parts/leg.png"><h1 class="i2">Leg</h1>
						<div class="image__overlay"><p class="desc">Leg, in the general word sense, is the entire lower limb of the human body, including the foot, thigh and even the hip or gluteal region.</p> </div>
					</li>
					<li class="clr" id="head">
						<img src="~/wwwroot/images/parts/feet.png"><h1 class="i2">Feet</h1>
						<div class="image__overlay"><p class="desc">Foot is the lowermost point of the human leg. The foot’s shape, along with the body’s natural balance-keeping systems, make humans capable of not only walking, but also running, climbing, and countless other activities.</p> </div>
					</li>
				</div>
			</div>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Systematrics  All rights reserved. </p>
            </footer>
        </div>
	</div>
</div>
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
