@{
	ViewData["Title"] = "Edulearn | Colors";
}
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
	body {
		cursor: pointer;
		font-family: "Bree Serif", serif;
		color: #424951;
	}

	.container {
		width: 100%;
		height: auto;
		margin: 10px auto;
	}

	.pri {
		display: flex;
		flex-wrap: wrap;
	}

	img {
		width: 280px;
		height: 250px;
		margin-top: 10px;
	}

	.container .clr {
		width: 260px;
		height: 250px;
		margin: 10px 10px 10px 0px;
		background-color: #F3F3F3;
		position: relative;
		box-shadow: 8px 10px 18px #615858;
		border: 2px solid #F3F3F3;
		padding: 10px 1px 1px;
		text-align: center;
		overflow: hidden;
		border-radius: 20px;
		list-style: none;
		border-radius: 20px;
	}

	.i2 {
		margin-top: 1px;
		font-size: 32px;
		margin-bottom: 0px;
	}

	.image__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		color: #F3F3F3;
		font-size: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.75s;
	}

	.image__overlay--blur {
		backdrop-filter: blur(90px);
	}

	.image__overlay > * {
		transform: translateY(20px);
		transition: transform 0.75s;
	}

	.image__overlay:hover {
		opacity: 1;
	}

		.image__overlay:hover > * {
			transform: translateY(0);
		}

	.color {
		font-size: 50px;
		-webkit-text-stroke: 2px #3c4146;
		-webkit-text-fill-color: #F3F3F3;
	}

	.mixed {
		font-size: 30px;
		margin-top: 3px;
		-webkit-text-stroke: 1.5px #3c4146;
		-webkit-text-fill-color: #F3F3F3;
	}

	.div-style {
		width: 220px;
		height: 190px;
		margin: 0 auto;
		text-align: center;
	}

	.image__overlay--primaryA {
		background: red;
	}

	.image__overlay--primaryB {
		background: yellow;
	}

	.image__overlay--primaryC {
		background: blue;
	}

	.image__overlay--primaryD {
		background: orange;
	}

	.image__overlay--primaryE {
		background: purple;
	}

	.image__overlay--primaryF {
		background: green;
	}

	.image__overlay--primaryG {
		background: #FACC2E;
	}

	.image__overlay--primaryH {
		background: #FF4000;
	}

	.image__overlay--primaryI {
		background: magenta;
	}

	.image__overlay--primaryJ {
		background: violet;
	}

	.image__overlay--primaryK {
		background: teal;
	}

	.image__overlay--primaryL {
		background: chartreuse;
	}

	.image__overlay--primaryM {
		background: white;
	}

	.image__overlay--primaryN {
		background: black;
	}

	.image__overlay--primaryO {
		background: #F5ECCE;
	}

	.image__overlay--primaryP {
		background: #61380B;
	}

	.image__overlay--primaryQ {
		background: #F3E2A9;
	}

	.image__overlay--primaryR {
		background: #C19A6B;
	}

	.image__overlay--primaryS {
		background: #F5F5DC;
	}

	.image__overlay--primaryT {
		background: #ADA96E;
	}

	.image__overlay--primaryU {
		background: #000080;
	}

	.image__overlay--primaryV {
		background: #34282C;
	}

	.image__overlay--primaryW {
		background: #493D26;
	}
</style>
<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center; margin-top: 30px;">Colors</h2>
				<p style="text-align: center">Let's learn the Different Colors!</p>
			</header>

			<div class="container">
				<h2>Primary Colors</h2>
				<div class="pri">
					<li class="clr">
						<div class="div-style" style="background-color: red;"></div><h1 class="i2">Red</h1>
						<div class="image__overlay image__overlay--primaryA">
							<div class="color">Red</div> <p class="mixed">Magenta + Yellow</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: yellow;"></div><h1 class="i2">Yellow</h1>
						<div class="image__overlay image__overlay--primaryB">
							<div class="color">Yellow</div> <p class="mixed">Red + Light Green</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: blue;"></div><h1 class="i2">Blue</h1>
						<div class="image__overlay image__overlay--primaryC">
							<div class="color">Blue</div> <p class="mixed">Magenta + Aqua</p>
						</div>
					</li>
				</div>

				<h2 class="t">Secondary Colors</h2>
				<div class="pri">
					<li class="clr">
						<div class="div-style" style="background-color: orange;"></div><h1 class="i2">Orange</h1>
						<div class="image__overlay image__overlay--primaryD">
							<div class="color">Orange</div> <p class="mixed">Red + Yellow</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: purple;"></div><h1 class="i2">Purple</h1>
						<div class="image__overlay image__overlay--primaryE">
							<div class="color">Purple</div> <p class="mixed">Red + Blue</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: green;"></div><h1 class="i2">Green</h1>
						<div class="image__overlay image__overlay--primaryF">
							<div class="color">Green</div> <p class="mixed">Yellow + Blue</p>
						</div>
					</li>
				</div>

				<h2 class="t">Tertiary Colors</h2>
				<div class="pri">
					<li class="clr">
						<div class="div-style" style="background-color: #FACC2E;"></div><h1 class="i2">Amber</h1>
						<div class="image__overlay image__overlay--primaryG">
							<div class="color">Amber</div> <p class="mixed">Yellow + Orange</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #FF4000;"></div><h1 class="i2">Vermilion</h1>
						<div class="image__overlay image__overlay--primaryH">
							<div class="color">Vermilion</div> <p class="mixed">Red + Orange</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: magenta;"></div><h1 class="i2">Magenta</h1>
						<div class="image__overlay image__overlay--primaryI">
							<div class="color">Magenta</div> <p class="mixed">Red + Purple</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: violet;"></div><h1 class="i2">Teal</h1>
						<div class="image__overlay image__overlay--primaryK">
							<div class="color">Teal</div> <p class="mixed">Blue + Green</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: teal;"></div><h1 class="i2">Chartreuse</h1>
						<div class="image__overlay image__overlay--primaryL">
							<div class="color">Chartreuse</div> <p class="mixed">Yellow + Green</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: chartreuse;"></div><h1 class="i2">Violet</h1>
						<div class="image__overlay image__overlay--primaryJ">
							<div class="color">Violet</div>  <p class="mixed">Red + Blue</p>
						</div>
					</li>
				</div>

				<h2 class="t">Neutral Colors</h2>
				<div class="pri">
					<li class="clr">
						<div class="div-style" style="background-color: white;"></div><h1 class="i2">White</h1>
						<div class="image__overlay image__overlay--primaryM">
							<div class="color">White</div>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: black;"></div><h1 class="i2">Black</h1>
						<div class="image__overlay image__overlay--primaryN">
							<div class="color">Black</div>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #F5ECCE;"></div><h1 class="i2">Cream</h1>
						<div class="image__overlay image__overlay--primaryO">
							<div class="color">Cream</div> <p class="mixed">White + Yellow</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #61380B;"></div><h1 class="i2">Brown</h1>
						<div class="image__overlay image__overlay--primaryP">
							<div class="color">Brown</div> <p class="mixed">Blue + Orange</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #F3E2A9;"></div><h1 class="i2">Tan</h1>
						<div class="image__overlay image__overlay--primaryQ">
							<div class="color">Tan</div> <p class="mixed">Brown + White</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #C19A6B;"></div><h1 class="i2">Camel</h1>
						<div class="image__overlay image__overlay--primaryR">
							<div class="color">Camel</div> <p class="mixed">Brown + Amber</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #F5F5DC;"></div><h1 class="i2">Beige</h1>
						<div class="image__overlay image__overlay--primaryS">
							<div class="color">Beige</div> <p class="mixed">Brown + White</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #ADA96E;"></div><h1 class="i2">Khaki</h1>
						<div class="image__overlay image__overlay--primaryT">
							<div class="color">Khaki</div> <p class="mixed">Brown + White</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #000080;"></div><h1 class="i2">Navy</h1>
						<div class="image__overlay image__overlay--primaryU">
							<div class="color">Navy</div> <p class="mixed">Black + Blue</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #34282C;"></div><h1 class="i2">Charcoal</h1>
						<div class="image__overlay image__overlay--primaryV">
							<div class="color">Charcoal</div> <p class="mixed">Black + White</p>
						</div>
					</li>
					<li class="clr">
						<div class="div-style" style="background-color: #493D26;"></div><h1 class="i2">Mocha</h1>
						<div class="image__overlay image__overlay--primaryW">
							<div class="color">Mocha</div> <p class="mixed">Brown + White</p>
						</div>
					</li>
				</div>
			</div>


		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>

				<ul>
					<li>@Html.ActionLink("General", "Library", "Home")</li>
					<li>

						<span class="opener">Web Directory</span>
						<ul>
							<li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
							<li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
							<li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
							<li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Modules</span>
						<ul>
							<li>@Html.ActionLink("Kindergarten", "Kindergarten", "Modules")</li>
							<li>@Html.ActionLink("Elementary", "Elementary", "Modules")</li>
							<li>@Html.ActionLink("Junior High School", "Junior_high", "Modules")</li>
							<li>@Html.ActionLink("Senior High School", "Senior_high", "Modules")</li>
						</ul>
					</li>
					<li>
						<span class="opener">Tables & Charts</span>
						<ul>
							<li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
							<li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
							<li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
							<li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
							<li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
							<li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
							<li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Maps</span>
						<ul>
							<li>@Html.ActionLink("World Map", "World", "Home", null)</li>
							<li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
							<li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Videos</span>
						<ul>
							<li>@Html.ActionLink("Youtube", "Youtube", "Home", null)</li>
							<li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">eBooks</span>
						<ul>
							<li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
							<li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
						</ul>
					</li>
					<li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
					<li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
					<li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
				</ul>
			</nav>

			<!-- Section -->
			<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; HPM. All rights reserved. </p>
			</footer>
		</div>
	</div>
</div>
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script>
	//style
	var style1 = {
		"color": "#F3F3F3", "font-size": "28px", "background": "#615858", "overflow": "hidden",
		"border-radius": "25px"
	}; //mouse over
	var style2 = {
		"color": "#615858", "font-size": "32px", "background": "#F3F3F3", "overflow": "hidden",
		"border-radius": "25px"
	}; //mouse out
	//end of style
	$(document).ready(function () {
		//primary colors
		$("#yellow").mouseover(function () { $("#yellow").text("Red + Light Green").css(style1); });
		$("#yellow").mouseout(function () { $("#yellow").text("Yellow").css(style2); });
		$("#red").mouseover(function () { $("#red").text("Magenta + Yellow").css(style1); });
		$("#red").mouseout(function () { $("#red").text("Red").css(style2); });
		$("#blue").mouseover(function () { $("#blue").text("Magenta + Aqua").css(style1); });
		$("#blue").mouseout(function () { $("#blue").text("Blue").css(style2); });
		//seconadry colors
		$("#orange").mouseover(function () { $("#orange").text("Red + Yellow").css(style1); });
		$("#orange").mouseout(function () { $("#orange").text("Orange").css(style2); });
		$("#violet").mouseover(function () { $("#violet").text("Red + Blue").css(style1); });
		$("#violet").mouseout(function () { $("#violet").text("Violet").css(style2); });
		$("#green").mouseover(function () { $("#green").text("Yellow + Blue").css(style1); });
		$("#green").mouseout(function () { $("#green").text("Green").css(style2); });
		//tertiary colors
		$("#amber").mouseover(function () { $("#amber").text("Yellow + Orange").css(style1); });
		$("#amber").mouseout(function () { $("#amber").text("Amber").css(style2); });
		$("#vermilion").mouseover(function () { $("#vermilion").text("Red + Orange").css(style1); });
		$("#vermilion").mouseout(function () { $("#vermilion").text("Vermilion").css(style2); });
		$("#magenta").mouseover(function () { $("#magenta").text("Red + Purple").css(style1); });
		$("#magenta").mouseout(function () { $("#magenta").text("Magenta").css(style2); });
		$("#teal").mouseover(function () { $("#teal").text("Blue + Green").css(style1); });
		$("#teal").mouseout(function () { $("#teal").text("Teal").css(style2); });
		$("#charts").mouseover(function () { $("#charts").text("Yellow + Green").css(style1); });
		$("#charts").mouseout(function () { $("#charts").text("Chartreuse").css(style2); });
		$("#indigo").mouseover(function () { $("#indigo").text("Blue + Violet").css(style1); });
		$("#indigo").mouseout(function () { $("#indigo").text("Indigo").css(style2); });
		//neutral colors
		$("#white").mouseover(function () { $("#white").text("White").css(style1); });
		$("#white").mouseout(function () { $("#white").text("White").css(style2); });
		$("#beige").mouseover(function () { $("#beige").text("Tan + White").css(style1); });
		$("#beige").mouseout(function () { $("#beige").text("Beige").css(style2); });
		$("#tan").mouseover(function () { $("#tan").text("Beige + Taupe").css(style1); });
		$("#tan").mouseout(function () { $("#tan").text("Tan").css(style2); });
		$("#taupe").mouseover(function () { $("#taupe").text("Tan + Gray").css(style1); });
		$("#taupe").mouseout(function () { $("#taupe").text("Taupe").css(style2); });
		$("#gray").mouseover(function () { $("#gray").text("White + Black").css(style1); });
		$("#gray").mouseout(function () { $("#gray").text("Gray").css(style2); });
		$("#brwn").mouseover(function () { $("#brwn").text("Blue + Orange").css(style1); });
		$("#brwn").mouseout(function () { $("#brwn").text("Brown").css(style2); });
		$("#black").mouseover(function () { $("#black").text("Dark Colors").css(style1); });
		$("#black").mouseout(function () { $("#black").text("Black").css(style2); });
	});
</script>
