
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="~/wwwroot/css/letterChart.css" />

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center">Letters</h2>
				<p style="text-align: center">Let's learn the Alphabets!</p>
			</header>

			<div class="container">
				<div class="alpha">
					<h1>A</h1>
					<img src="/wwwroot/images/letters/a.png" />
					<h2>Apple</h2>
				</div>
				<div class="alpha">
					<h1>B</h1>
					<img src="/wwwroot/images/letters/b.png" />
					<h2>Banana</h2>
				</div>
				<div class="alpha">
					<h1>C</h1>
					<img src="/wwwroot/images/letters/c.png" />
					<h2>Clock</h2>
				</div>
				<div class="alpha">
					<h1>D</h1>
					<img src="/wwwroot/images/letters/d.png" />
					<h2>Dog</h2>
				</div>
				<div class="alpha">
					<h1>E</h1>
					<img src="/wwwroot/images/letters/e.png" />
					<h2>Egg</h2>
				</div>
				<div class="alpha">
					<h1>F</h1>
					<img src="/wwwroot/images/letters/f.png" />
					<h2>Flower</h2>
				</div>
				<div class="alpha">
					<h1>G</h1>
					<img src="/wwwroot/images/letters/g.png" />
					<h2>Goat</h2>
				</div>
				<div class="alpha">
					<h1>H</h1>
					<img src="/wwwroot/images/letters/h.png" />
					<h2>House</h2>
				</div>
				<div class="alpha">
					<h1>I</h1>
					<img src="/wwwroot/images/letters/i.png" />
					<h2>Igloo</h2>
				</div>
				<div class="alpha">
					<h1>J</h1>
					<img src="/wwwroot/images/letters/j.png" />
					<h2>Jump</h2>
				</div>
				<div class="alpha">
					<h1>K</h1>
					<img src="/wwwroot/images/letters/k.png" />
					<h2>Kitten</h2>
				</div>
				<div class="alpha">
					<h1>L</h1>
					<img src="/wwwroot/images/letters/l.png" />
					<h2>Lamp</h2>
				</div>
				<div class="alpha">
					<h1>M</h1>
					<img src="/wwwroot/images/letters/m.png" />
					<h2>Mother</h2>
				</div>
				<div class="alpha">
					<h1>N</h1>
					<img src="/wwwroot/images/letters/n.png" />
					<h2>Nun</h2>
				</div>
				<div class="alpha">
					<h1>O</h1>
					<img src="/wwwroot/images/letters/o.png" />
					<h2>Orange</h2>
				</div>
				<div class="alpha">
					<h1>P</h1>
					<img src="/wwwroot/images/letters/p.png" />
					<h2>Pirate</h2>
				</div>
				<div class="alpha">
					<h1>Q</h1>
					<img src="/wwwroot/images/letters/q.png" />
					<h2>Queen</h2>
				</div>
				<div class="alpha">
					<h1>R</h1>
					<img src="/wwwroot/images/letters/r.png" />
					<h2>Rat</h2>
				</div>
				<div class="alpha">
					<h1>S</h1>
					<img src="/wwwroot/images/letters/s.png" />
					<h2>Sea</h2>
				</div>
				<div class="alpha">
					<h1>T</h1>
					<img src="/wwwroot/images/letters/t.png" />
					<h2>Truck</h2>
				</div>
				<div class="alpha">
					<h1>U</h1>
					<img src="/wwwroot/images/letters/u.png" />
					<h2>Umbrella</h2>
				</div>
				<div class="alpha">
					<h1>V</h1>
					<img src="/wwwroot/images/letters/v.png" />
					<h2>Violin</h2>
				</div>
				<div class="alpha">
					<h1>W</h1>
					<img src="/wwwroot/images/letters/w.png" />
					<h2>Window</h2>
				</div>
				<div class="alpha">
					<h1>X</h1>
					<img src="/wwwroot/images/letters/x.png" />
					<h2>Xylophone</h2>
				</div>
				<div class="alpha">
					<h1>Y</h1>
					<img src="/wwwroot/images/letters/y.png" />
					<h2>Yacht</h2>
				</div>
				<div class="alpha">
					<h1>Z</h1>
					<img src="/wwwroot/images/letters/z.png" />
					<h2>Zebra</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">
           

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Systematrics  All rights reserved. </p>
            </footer>
        </div>
	</div>
</div>
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
