

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<style>
	.table td {
		padding: 5px 10px;
	}

	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.multiplication {
		margin-bottom: 50px;
	}

	#multiplication-section {
		padding-top: 20px !important;
	}
</style>
<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a onclick="BackFunc()" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center; margin-top: 30px;">Multiplication Table</h2>
				<p style="text-align: center">Let's learn the Multiplication Table!</p>
			</header>

			<section id="multiplication-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 1</th>
									</thead>
									<tbody id="demo1" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 2</th>
									</thead>
									<tbody id="demo2" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 3</th>
									</thead>
									<tbody id="demo3" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 4</th>
									</thead>
									<tbody id="demo4" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 5</th>
									</thead>
									<tbody id="demo5" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 6</th>
									</thead>
									<tbody id="demo6" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 7</th>
									</thead>
									<tbody id="demo7" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 8</th>
									</thead>
									<tbody id="demo8" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 9</th>
									</thead>
									<tbody id="demo9" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 10</th>
									</thead>
									<tbody id="demo10" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 11</th>
									</thead>
									<tbody id="demo11" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 12</th>
									</thead>
									<tbody id="demo12" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 13</th>
									</thead>
									<tbody id="demo13" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 14</th>
									</thead>
									<tbody id="demo14" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 15</th>
									</thead>
									<tbody id="demo15" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 16</th>
									</thead>
									<tbody id="demo16" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 17</th>
									</thead>
									<tbody id="demo17" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 18</th>
									</thead>
									<tbody id="demo18" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 19</th>
									</thead>
									<tbody id="demo19" class="text-center"></tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="multiplication">
								<table class="table table-bordered">
									<thead>
									<th colspan="3" class="text-center">Multiplication 20</th>
									</thead>
									<tbody id="demo20" class="text-center"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li>@Html.ActionLink("General", "Library", "Home")</li>
                    <li>

                        <span class="opener">Web Directory</span>
                        <ul>
                            <li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
                            <li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
                            <li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
                            <li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
                            <li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
                            <li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
                            <li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
                            <li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
                            <li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
                            <li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
                            <li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
                            <li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li>@Html.ActionLink("World Map", "World", "Home", null)</li>
                            <li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
                            <li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
                            <li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
                            <li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
                    <li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
                    <li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
                </ul>
            </nav>

            <!-- Section -->
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Systematrics  All rights reserved.</p>
            </footer>
        </div>
	</div>
</div>
<script>

	var BackFunc = function () {

		var baseUrl="@Url.Action("Back","Login")";
   window.location.href=baseUrl;

	}
</script>
<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>
<script>
	function multi(a, d) {
		for (var b = 1; b <= 10; b++) {
			document.getElementById(d).innerHTML += "<tr><td>" + a + " X " + b + "</td> <td> = </td>" + "<td>" + a * b + "</td></tr>";
		}
	}

	multi(1, "demo1");
	multi(2, "demo2");
	multi(3, "demo3");
	multi(4, "demo4");
	multi(5, "demo5");
	multi(6, "demo6");
	multi(7, "demo7");
	multi(8, "demo8");
	multi(9, "demo9");
	multi(10, "demo10");
	multi(11, "demo11");
	multi(12, "demo12");
	multi(13, "demo13");
	multi(14, "demo14");
	multi(15, "demo15");
	multi(16, "demo16");
	multi(17, "demo17");
	multi(18, "demo18");
	multi(19, "demo19");
	multi(20, "demo20");
</script>