
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/wwwroot/css/library.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/wwwroot/css/Shapes.css" />



<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<!-- Header -->
			<header id="header">

				<!-- Home Back Button -->
				<a href="/Home" class="bbutton">
					<div class="home-back-button">
						<i class="fa fa-arrow-left  fa-fw" aria-hidden="true"></i>Back
					</div>
				</a>

				<div class="main-cont">
					<div id="time-i">
						<h1>-</h1>
					</div>
					<div id="date-i">
						<h1>-</h1>
					</div>
					<div id="day-i">
						<h1>-</h1>
					</div>
				</div>
			</header>

			<!-- Content -->
			<header class="main">
				<h2 style="margin-bottom: 0 !important; text-align: center; margin-top: 30px;">Shapes</h2>
				<p style="text-align: center">Let's learn the Different Shapes!</p>
			</header>

			<div class="shapes">
				<section class="popmodal">
					<h2>Square</h2>
					<div class="square pop" data-original-title="Square" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="A square is closed, two-dimensional shape with 4 equal sides. A square is a quadrilateral.">
					</div>
				</section>

				<section>
					<h2>Rectangle</h2>
					<div class="rectangle pop" data-original-title="Rectangle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Rectangle is a type of quadrilateral that has its parallel sides equal to each other. Also called an equiangular quadrilateral."></div>
				</section>

				<section>
					<h2>Circle</h2>
					<div class="circle pop" data-original-title="Circle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Circle is a basic 2D shape which is measured in terms of its radius."></div>
				</section>

				<section>
					<h2>Semi-circle</h2>
					<div class="semi-circle pop" data-original-title="Semi-circle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Semi Circle Shape is a circle that cut into two halves or when the circumference of a circle is divided by 2, we get semicircular shape."></div>
				</section>

				<section>
					<h2>Ellipse</h2>
					<div class="ellipse pop" data-original-title="Ellipse" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Ellipse is a two-dimensional shape, that is defined along its axes."></div>
				</section>

				<section>
					<h2>Pill</h2>
					<div class="pill pop" data-original-title="Pill" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Pill shape is a Capsule-shape."></div>
				</section>

				<section>
					<h2>Equilateral Triangle</h2>
					<div class="equilateral-triangle pop" data-original-title="Equilateral Triangle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Equilateral triangle is a triangle in which all three sides have the same length."></div>
				</section>

				<section>
					<h2>Isosceles Triangle</h2>
					<div class="isosceles-triangle pop" data-original-title="Isosceles Triangle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Scalene Triangle is a triangle that has all its sides of different lengths."></div>
				</section>

				<section>
					<h2>Scalene Triangle</h2>
					<div class="scalene-triangle pop" data-original-title="Scalene Triangle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Scalene Triangle is a triangle that has all its sides of different lengths."></div>
				</section>

				<section>
					<h2>Right Trianagle</h2>
					<div class="right-triangle pop" data-original-title="Right Trianagle" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Right triangle, a triangle in which one of the interior angles is 90° is called a right triangle."></div>
				</section>

				<section>
					<h2>Trapezium</h2>
					<div class="trapezium pop" data-original-title="Trapezium" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Trapezium is a 2d shape and a type of quadrilateral, which has only two parallel sides and the other two sides are non-parallel."></div>
				</section>

				<section>
					<h2>Parallelogram</h2>
					<div class="parallelogram pop" data-original-title="Parallelogram" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Parallelogram is a flat 2d shape which has four angles."></div>
				</section>

				<section>
					<h2>Rhombus</h2>
					<div class="rhombus pop" data-original-title="Rhombus" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Rhombus is a quadrilateral (plane figure, closed shape, four sides) with four equal-length sides and opposite sides parallel to each other."></div>
				</section>

				<section>
					<h2>Six-point Star</h2>
					<div class="sixpoint-star pop" data-original-title="Six-point Star" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Six-point star or hexagram is a simple geometric shape consisting of the intersection of two equilateral triangles."></div>
				</section>

				<section>
					<h2>Pentagon</h2>
					<div class="pentagon pop" data-original-title="Pentagon" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Pentagon is a geometrical shape, which has five sides and five angles."></div>
				</section>

				<section>
					<h2>Hexagon</h2>
					<div class="hexagon pop" data-original-title="Hexagon" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Hexagon is a six-sided polygon or 6-gon."></div>
				</section>

				<section>
					<h2>Heart</h2>
					<div class="heart pop" data-original-title="Heart" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Heart-shaped is a stylized heart with a double rounded top."></div>
				</section>

				<section>
					<h2>Diamond</h2>
					<div class="diamond pop" data-original-title="Diamond" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Diamond shape refers to the geometric appearance of a diamond."></div>
				</section>

				<section>
					<h2>Egg</h2>
					<div class="egg pop" data-original-title="Egg" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Egg shape is the shape of an egg is approximated by the 'long' half of a prolate spheroid, joined to a 'short' half of a roughly spherical ellipsoid."></div>
				</section>

				<section>
					<h2>Cross</h2>
					<div class="cross pop" data-original-title="Cross" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Cross shapes are either a t- or x-like figure, where one line crosses another at a perpendicular angle."></div>
				</section>

				<section>
					<h2>Infinity</h2>
					<div class="infinity pop" data-original-title="Infinity" data-animation="false" data-easein="bounce" rel="popover" data-placement="top" data-content="Infinity symbol, a figure eight on its side, variously signifies the concept of limitlessness or eternity."></div>
				</section>
			</div>

		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">


			<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>

				<ul>
					<li>@Html.ActionLink("General", "Library", "Home")</li>
					<li>

						<span class="opener">Web Directory</span>
						<ul>
							<li>@Html.ActionLink("English", "EnglishD", "Home", null)</li>
							<li>@Html.ActionLink("Math", "MathD", "Home", null)</li>
							<li>@Html.ActionLink("Filipino", "FilipinoD", "Home", null)</li>
							<li>@Html.ActionLink("Science", "ScienceD", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Modules</span>
						<ul>
							<li>@Html.ActionLink("Kindergarten", "Kindergarten", "Home", null)</li>
							<li>@Html.ActionLink("Elementary", "Elementary", "Home", null)</li>
							<li>@Html.ActionLink("Junior High School", "Junior_high", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Tables & Charts</span>
						<ul>
							<li>@Html.ActionLink("Flags", "Flags", "Home", null)</li>
							<li>@Html.ActionLink("Numbers", "NumberChart", "Home", null)</li>
							<li>@Html.ActionLink("Letters", "LetterChart", "Home", null)</li>
							<li>@Html.ActionLink("Shapes", "Shapes", "Home", null)</li>
							<li>@Html.ActionLink("Colors", "Color", "Home", null)</li>
							<li>@Html.ActionLink("Body Parts", "BodyParts", "Home", null)</li>
							<li>@Html.ActionLink("Multiplication Table", "MultiplicationTable", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Maps</span>
						<ul>
							<li>@Html.ActionLink("World Map", "World", "Home", null)</li>
							<li>@Html.ActionLink("Country Map", "Country", "Home", null)</li>
							<li>@Html.ActionLink("Google Map", "Google", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">Videos</span>
						<ul>
							<li>@Html.ActionLink("Mini Youtube", "Youtube", "Home", null)</li>
							<li>@Html.ActionLink("Chanel Recommendation", "Channels", "Home", null)</li>
						</ul>
					</li>
					<li>
						<span class="opener">eBooks</span>
						<ul>
							<li>@Html.ActionLink("Google Ebooks", "Ebook", "Home", null)</li>
							<li>@Html.ActionLink("Ebooks Web Directory", "eBooksD", "Home", null)</li>
						</ul>
					</li>
					<li>@Html.ActionLink("Trivia", "Trivia", "Home", null)</li>
					<li>@Html.ActionLink("Dictionary", "Dictionary", "Home", null)</li>
					<li>@Html.ActionLink("Study Tips", "StudyTips", "Home", null)</li>
				</ul>
			</nav>

			<!-- Section -->
			<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Systematrics  All rights reserved. </p>
			</footer>
		</div>
	</div>
</div>

<!-- Library script -->
<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c0d25df00f.js"></script>
<script src="~/wwwroot/js/browser.min.js"></script>
<script src="~/wwwroot/js/breakpoints.min.js"></script>
<script src="~/wwwroot/js/util.js"></script>
<script src="~/wwwroot/js/library.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
<script>



	// add the animation to the popover
	$('div[rel=popover]').popover().click(function (e) {
		e.preventDefault();
		var open = $(this).attr('data-easein');
		if (open == 'shake') {
			$(this).next().velocity('callout.' + open);
		} else if (open == 'pulse') {
			$(this).next().velocity('callout.' + open);
		} else if (open == 'tada') {
			$(this).next().velocity('callout.' + open);
		} else if (open == 'flash') {
			$(this).next().velocity('callout.' + open);
		} else if (open == 'bounce') {
			$(this).next().velocity('callout.' + open);
		} else if (open == 'swing') {
			$(this).next().velocity('callout.' + open);
		} else {
			$(this).next().velocity('transition.' + open);
		}



	});
	// add the animation to the modal
	$(".modal").each(function (index) {
		$(this).on('show.bs.modal', function (e) {
			var open = $(this).attr('data-easein');
			if (open == 'shake') {
				$('.modal-dialog').velocity('callout.' + open);
			} else if (open == 'pulse') {
				$('.modal-dialog').velocity('callout.' + open);
			} else if (open == 'tada') {
				$('.modal-dialog').velocity('callout.' + open);
			} else if (open == 'flash') {
				$('.modal-dialog').velocity('callout.' + open);
			} else if (open == 'bounce') {
				$('.modal-dialog').velocity('callout.' + open);
			} else if (open == 'swing') {
				$('.modal-dialog').velocity('callout.' + open);
			} else {
				$('.modal-dialog').velocity('transition.' + open);
			}

		});
	});

	$('.pop').hover(
		function () {
			$(this).click();
		}
	);

</script>